#login{
    color: rgb(7, 38, 70);
    background-color: rgb(201, 195, 192);
    text-align: center;
    padding: 20px;
    margin-right: 400px;
    margin-left: 400px;
    border-radius: 30px;
   
}
.label{
    font-size: larger;

}
#heading{
    background-color: darkgoldenrod;
    border-style: double;
    border-radius: 30px;
   
}
.input{
    font-size: small;
    border-color: brown;
    border-radius: 30px; padding: 1.5%;
}
p{
    font-size: larger;
}
button{
    font-size: larger;
    width:15ch; border-radius: 10px;
    background-color: peru;
    font-style:inherit;
}